/*
|--------------------------------------------------------------------------
| UtilityScreenReaderOnly
|--------------------------------------------------------------------------
| @namespace: UtilityScreenReaderOnly
|
*/

@mixin UtilityScreenReaderOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.UtilityScreenReaderOnly {
    @include UtilityScreenReaderOnly;
}

.UtilityHide {
    display: none;
}

.hide {
    display: none;
}

.util-hidden {
    visibility: hidden;
}
