/*
|--------------------------------------------------------------------------
| PageContainer
|--------------------------------------------------------------------------
| @namespace: PageContainer
|
*/

@mixin PageContainer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.PageContainer {
    @include PageContainer;
    max-width: 90rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    @include bp(xlg) {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }

    &.PageContainerFluid--mobilebreakout {
        padding-right: 0;
        @include bp(sm) {
            padding-right: 0.75rem;
        }
        @include bp(xlg) {
            padding-right: 2.5rem;
        }
    }
}

.PageContainerFluid {
    @include PageContainer;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    
    @include bp(xlg) {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }

    &.PageContainerFluid--mobilebreakout {
        padding-right: 0;
        @include bp(sm) {
            padding-right: 0.75rem;
        }
        @include bp(xlg) {
            padding-right: 2.5rem;
        }
    }
}

.PageContainerFluidWide {
    @include PageContainer;
}
