/*
|--------------------------------------------------------------------------
| PageContainer
|--------------------------------------------------------------------------
| @namespace: PageContainer
|
*/
@mixin PageContainer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.PageContainerFluid {
    @include PageContainer;
    padding-right: 1rem;
    padding-left: 1rem;
    @include bp(sm) {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

.PageContainerFluidWide {
    @include PageContainer;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.PageContainer {
    @include PageContainer;
    max-width: 90rem;
    padding-right: 1rem;
    padding-left: 1rem;
    @include bp(sm) {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
