/*
|--------------------------------------------------------------------------
| Account - Address
|--------------------------------------------------------------------------
| @namespace: AccountAddress
|
*/

.AccountAddress {
    @include Font__15-24;
    font-family: $font-secondary;
}

.AccountAddress__title {
    margin-bottom: 0.5rem;
    font-weight: $font-bold;
}

.AccountAddress + .AccountAddress {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid $color-border;
}

.AccountAddressForm {
    margin: 2rem 0;
}
