/*
|--------------------------------------------------------------------------
| Product - Carousel
|--------------------------------------------------------------------------
| @namespace: ProductCarousel
|
*/

.ProductCarousel {
    overflow: hidden;
}

.ProductCarousel__item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    @include bp(sm) {
        width: 25%;
        padding: 0 0.75rem;
    }
}
