/*
|--------------------------------------------------------------------------
| Product - Card
|--------------------------------------------------------------------------
| @namespace: ProductCard
|
*/
@mixin appear() {
    transform: translate3d(0, 8px, 0);
    backface-visibility: hidden;
    opacity: 0;
    transition: transform $transition-medium, opacity $transition-medium;
    will-change: transform, opacity;
    @media (hover: hover) {

        .ProductCard:hover & {
            transform: translate3d(0,0,0);
            opacity: 1;
        }
    }
}

.ProductCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.ProductCard__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ProductCard__title {
    font-weight: $font-medium;
    text-transform: uppercase;
    @include Font__14-24;
}

.ProductCard__status {
    font-weight: $font-normal;
    font-family: $font-secondary;
    text-transform: initial;
}

.ProductCard__upper {
    position: relative;
    
    @include bp(sm) {
        flex: 1;
    }
    overflow: hidden;
}

.ProductCard__lower {
    padding: 1rem 0;
    @include bp(sm) {
        padding: 1.5rem 0;
    }
}

.ProductCard__fauxlink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 400;
    @include Hover() {
        cursor: zoom-in;
    }
}

.ProductCardImage--primary {
    z-index: 200;
    transition: opacity $transition-slow;

    .ProductCard--has-secondary:hover & {
        opacity: 0;
    }
}

.ProductCardImage--secondary {
    z-index: 100;
    transform: scale(1.05);
    transition: transform $transition-slow;

    .ProductCard--has-secondary:hover & {
        transform: scale(1);
    }
}

.ProductCardImageFrame {
    position: relative;
    width: 100%;
    padding-bottom: 125%;
    background: $color-gray-medium;

    .ProductList__item--featured & {
        min-height: 100%;
    }

    .CartFormProducts & {
        padding-bottom: 100%;
    }
}

.ProductCardImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ProductCardOverlay {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    z-index: 400;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.5rem;
    text-align: left;
    background-color: $color-white;
    @include appear;

    @include bp(lg) {
        // top: auto;
        display: flex;
    }

    .ProductList__item--featured & {
        top: auto;
        padding: 2.5rem;
    }
}

.ProductCardOverlay__title {
    font-weight: $font-medium;
    text-transform: uppercase;
    @include Font__32-32;
    @include appear;
    transition-delay: 0.1s;
}

.ProductCardOverlay__meta {
    margin-top: 0.75rem;
    font-family: $font-secondary;
    @include appear;
    transition-delay: 0.2s;
}

.ProductCardOverlay__data + .ProductCardOverlay__data {
    margin-left: 0.75rem;
}

.ProductCardOverlay__text {
    @include Font__12-28;
    width: 100%;
    max-width: 36rem;
    margin-top: 1rem;
    font-family: $font-secondary;
    @include appear;
    transition-delay: 0.3s;
}

.ProductCardOverlay__action {
    margin-top: 1.5rem;
    @include appear;
    transition-delay: 0.4s;
}

.ProductCardOverlay__link {
    font-family: $font-secondary;
    font-style: italic;
    @include LinkUnderlined;
}

.ProductCardImageFrameDistortion {
    position: relative;
    width: 100%;
    padding-bottom: 125%;
    background: $color-gray-medium;

    .ProductList__item--featured & {
        min-height: 100%;
    }
}

.ProductCardImageFrameDistortion__image {
    display: none;
}

.ProductCardImageFrameDistortion__image--secondary {
    position: absolute;
    top: 0;
    left: 0;
}

.ProductCardImageFrameDistortion canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
