/*
|--------------------------------------------------------------------------
| Product - Card Standout
|--------------------------------------------------------------------------
| @namespace: ProductCardStandout
|
*/

.ProductCardStandout {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.ProductCardStandout__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ProductCardStandout__title {
    font-weight: $font-medium;
    text-transform: uppercase;
    @include Font__14-24;
}

.ProductCardStandout__status {
    font-weight: $font-normal;
    font-family: $font-secondary;
    text-transform: initial;
}

.ProductCardStandout__label {
    font-weight: $font-normal;
    font-family: $font-secondary;
    font-style: italic;
    text-transform: initial;
}

.ProductCardStandout__upper {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.ProductCardStandout__lower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    @include bp(sm) {
        padding: 1.5rem 0;
    }
}

.ProductCardStandout__fauxlink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 400;
}

.ProductCardStandoutImage--primary {
    z-index: 200;
    transition: opacity $transition-slow;

    .ProductCardStandout--has-secondary:hover & {
        opacity: 0;
    }
}

.ProductCardStandoutImage--secondary {
    z-index: 100;
    transform: scale(1.05);
    transition: transform $transition-slow;

    .ProductCardStandout--has-secondary:hover & {
        transform: scale(1);
    }
}

.ProductCardStandoutImageFrame {
    position: relative;
    width: 100%;
    padding-bottom: 125%;
    background: $color-gray-medium;

    @include bp(sm) {
        padding-bottom: 56.25%;
    }

    .ProductList__item--featured & {
        min-height: 100%;
    }
}

.ProductCardStandoutImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
