
/*
|--------------------------------------------------------------------------
| Product Gallery - List
|--------------------------------------------------------------------------
| @namespace: ProductGalleryList
|
*/

.ProductGalleryList {
    display: block;

    &:after {
        display: none; 
        content: 'flickity';
    }

    @include bp(sm) {

        &:after {
            content: '';
        }
    }
}

.ProductGalleryList__item {
    width: calc(100% - 1rem);

    .ProductGalleryList--carousel & {
        width: calc(100% - 2rem);
        margin-right: 0.5rem;

        @include bp(sm) {
            width: auto;
            margin-right: 0;
        }
    }
}

.ProductGalleryList__item + .ProductGalleryList__item {
    @include bp(sm) {
        margin-top: 0.5rem;
    }
}
