/*
|--------------------------------------------------------------------------
| Product - Structure
|--------------------------------------------------------------------------
| @namespace: ProductSingle
|
*/

.ProductSingle__columns {
    @include PageGrid();
}

.ProductSingle__column {
    grid-column-start: 1;
    grid-column-end: 5;
    @include bp(sm) {
        grid-column-end: 12;
    }
}

.ProductSingle__column--primary {
    @include bp(sm) {
        grid-column-start: 1;
        grid-column-end: 8;
    }
}

.ProductSingle__column--secondary {
    padding-left: 1rem;
    padding-right: 1rem;
    @include bp(sm) {
        grid-column-start: 8;
        grid-column-end: 12;
        padding-left: 0;
        padding-right: 2rem;
        padding-top: 4rem;
    }
}

.ProductSingle__imagelink {
    display: block;
    width: 100%;
}

/*
|--------------------------------------------------------------------------
| Product - Content
|--------------------------------------------------------------------------
| @namespace: ProductContent
|
*/

.ProductContent {
    position: sticky;
    width: 100%;
    top: 2rem;
}

.ProductContent__header {
    margin-bottom: 2rem;
}

.ProductContent__title {
    font-family: $font-secondary;
    @include Font__32-38;
}

.ProductContent__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.ProductContent__body {
    margin-top: 2rem;
}

.ProductContent__price {
    margin-top: 1rem;
}

.ProductContent__action {
    margin-top: 3.5rem;
}