
/*
|--------------------------------------------------------------------------
| Product - Tabs
|--------------------------------------------------------------------------
| @namespace: ProductTabs
|
*/

.ProductTabs {
    margin-top: 2rem;
}

.ProductTabsHeadings__list {
    display: flex;
    align-items: center;
}

.ProductTabsHeadings__listitem + .ProductTabsHeadings__listitem {
    margin-left: 2rem;
}

.ProductTabsHeadings__button {
    text-transform: uppercase;
    @include Font__16-16;
    @include LinkUnderline;
    opacity: 0.6;
    transition: opacity $transition;
    @include Hover() {
        opacity: 1;
    }

    &--active {
        opacity: 1;

        &::after {
            transform: scaleX(1);
        }
    }
}

.ProductTabsContent {
    margin-top: 2rem;
    font-family: $font-secondary;
}

.ProductTabsContent__content {
    display: none;
}

.ProductTabsContent__content--active {
    display: block;
}
