/*
|--------------------------------------------------------------------------
| Filtering
|--------------------------------------------------------------------------
| @namespace: clc-
|
*/
.clc-Filtering {
  justify-content: space-between;

  display: flex;
}

.clc-Filtering_Filters {
  width: 65%;
}

.clc-Filtering_Mobile {
  display: none;
}
