{%- render 'page-breadcrumb' -%}

{%- paginate blog.articles by 7 -%}
  <section class="blg-Blog">
    <div class="blg-Blog_Inner">
      {%- if blog.tags.size > 0 -%}
        {%- unless paginate.previous -%}
          {%- for tag in blog.all_tags -%}
            {%- if tag == 'Featured: Article' -%}
              <header class="blg-Blog_Header">
                {%- for article in blog.articles limit:1 -%}
                  {%- render 'article-card-featured',
                    article: article,
                    width: 1500,
                    height: 850
                  -%}

                  {%- break -%}
                {%- endfor -%}
              </header>
            {%- endif -%}
          {%- endfor -%}
        {%- endunless -%}
      {%- endif -%}

      <div class="blg-Blog_Body">
        <h1 class="blg-Blog_Title util-ScreenReaderOnly">{{ blog.title }}</h1>

        {%- if blog.articles.size > 0 -%}
          <ul class="blg-Blog_Items">
            {%- for article in blog.articles -%}
              {%- capture hide_featured -%}
                {%- if article.tags.size > 0 -%}
                  {%- for tag in article.tags -%}
                    {%- if tag == 'Featured: Article' -%}featured{%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
              {%- endcapture -%}

              {%- unless hide_featured == 'featured' -%}
                <li class="blg-Blog_Item">
                  {%- include 'article-card' with
                    articles: articles,
                    width: 400,
                    height: 300
                  -%}
                </li>
              {%- endunless -%}
            {%- endfor -%}
          </ul>
        {%- else -%}
          <p class="blg-Blog_Text">{{ 'blog.blog.empty' | t }}</p>
        {%- endif -%}
      </div>

      {%- if paginate.pages > 1 -%}
        <footer class="blg-Blog_Footer">
          {%- include 'pagination' -%}
        </footer>
      {%- endif -%}
    </div>
  </section>
{%- endpaginate -%}
