{%- assign pagination_amount = 9 -%}

{%- render 'page-breadcrumb' -%}

<h1 class="sec-Blog_Title util-ScreenReaderOnly">{{ blog.title }}</h1>

{%- paginate blog.articles by pagination_amount -%}
  <section class="sec-Blog">
    <div class="sec-Blog_Inner">
      {%- if blog.tags.size > 0 -%}
        {%- unless paginate.previous -%}
          {%- for tag in blog.all_tags -%}
            {%- if tag == 'Featured: Article' -%}
              {%- if blog.articles.size > 0 -%}
                <header class="sec-Blog_Header">
                  {%- for article in blog.articles limit:1 -%}
                    {%- render 'article-card-featured',
                      article: article,
                      width: 1500,
                      height: 850
                    -%}

                    {%- break -%}
                  {%- endfor -%}
                </header>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endunless -%}
      {%- endif -%}

      <div class="sec-Blog_Body">
        {%- if blog.articles.size > 0 -%}
          <ul class="sec-Blog_Items">
            {%- for article in blog.articles -%}
              {%- capture hide_featured -%}
                {%- if article.tags.size > 0 -%}
                  {%- for tag in article.tags -%}
                    {%- if tag == 'Featured: Article' -%}sec-Blog_Item-featured{%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
              {%- endcapture -%}

              <li class="sec-Blog_Item {{ hide_featured }}">
                {%- include 'article-card' with
                  articles: articles,
                  width: 400,
                  height: 300
                -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- else -%}
          <p class="sec-Blog_Text">{{ 'blog.blog.empty' | t }}</p>
        {%- endif -%}
      </div>
    </div>
  </section>
{%- endpaginate -%}
