<section class="pg-Page">
  <div class="pg-Page_Inner lyt-Container">
    <div class="pg-Page_Body">
      <div class="pg-Page_Text rte-RichText">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>
