{%- render 'page-breadcrumb' -%}

<section class="pg-Page">
  <div class="pg-Page_Inner">
    <div class="pg-Page_Body">
      <div class="pg-Page_Columns">
        <div class="pg-Page_Column pg-Page_Column-navigation">
          <h1 class="pg-Page_Title">{{ page.title }}</h1>

          {%- if linklists.page-menu.links.size > 0 -%}
            <nav class="pg-Navigation" role="navigation">
              <ul class="pg-Navigation_Items">
                {%- for link in linklists.page-menu.links -%}
                  <li class="pg-Navigation_Item">
                    <a class="pg-Navigation_Link{% if link.active %} pg-Navigation_Link-active{% endif %}" href="{{ link.url }}">
                      {{ link.title }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </nav>
          {%- endif -%}
        </div>

        {%- if page.content != blank -%}
          <div class="pg-Page_Column pg-Page_Column-content">
            <div class="pg-Page_Content rte-RichText">
              {{ page.content }}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>
