{%- layout 'password' -%}

<section class="Section">
  <div class="Section__inner PageContainer">
    <header class="Section__header">
      <div class="Section__columns">
        <div class="Section__column Section___column--tight">
          <h1 class="Section__title">Coming Soon</h1>
        </div>
      </div>
    </header>

    <div class="Section__body">
      <div class="Section__columns">
        <div class="Section__column Section___column--tight">
          <div id="Login">
            {%- form 'storefront_password', class: "Form" -%}
              {{ form.errors | default_errors }}

              <div class="Form__column Form__column--span">
                <div class="InputWrap">
                  <label class="InputLabel" for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>
                  <input class="Input Input--text" type="password" name="password" id="Password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                </div>
              </div>

              <footer class="Form__footer">
                <button class="button button--block button--primary" name="commit" type="submit">
                    {{ 'general.password_page.login_form_submit' | t }}
                </button>
              </footer>
            {%- endform -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
