<section class="sec-Intro">
  <div class="sec-Intro_Inner">
    <header class="sec-Intro_Header">
      {%- render 'breadcrumbs' -%}
    </header>

    <div class="sec-Intro_Body">
      {%- if collection.image != blank -%}
        <div class="sec-Intro_ImageContainer">
          <div class="sec-Intro_Image">
            {%- render 'responsive-image',
              image: collection.image,
              width: 800,
              height: 600
            -%}
          </div>
        </div>
      {%- endif -%}

      <div class="sec-Intro_Content">
        <h1 class="sec-Intro_Title">
          {{ collection.title }}
          <span class="sec-Intro_Count">{{ collection.products_count }} items</span>
        </h1>

        {%- if collection.description != blank -%}
          <div class="sec-Intro_Text">{{ collection.description }}</div>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>
