<div class="HeaderBanner">
    <div class="HeaderBanner__inner PageContainer">
        <div class="HeaderBanner__body">
            {%- include 'header-navigation' with menu:menu -%}
            {%- include 'header-brand' -%}
            {%- include 'header-tools' -%}
        </div>
    </div>
</div>