<div class="HeaderNotification">
    <div class="HeaderNotification__inner PageContainer">
        <div class="HeaderNotification__body">
            <p class="HeaderNotification__text">
                Next day delivery available on orders placed Mon - Fri
            </p>
            {% include 'social-list' %}
        </div>
    </div>
</div>