{%- assign titles = page.metafields.brand_item.title -%}
{%- assign categories = page.metafields.brand_item.category -%}

{%- if titles.size > 0 -%}
  <section class="sec-Brands" data-module="brands-tabs" data-targets-content="sec-Brands_Cards" data-targets-headings="sec-Brands_Button">
    <div class="sec-Brands_Inner">
      <header class="sec-Brands_Header">
        <ul class="sec-Brands_Tabs">
          <li class="sec-Brands_Tab">
            <button class="sec-Brands_Button sec-Brands_Button-active" type="button">View all</button>
          </li>

          {%- for category in categories -%}
            <li class="sec-Brands_Tab">
              <button class="sec-Brands_Button" type="button">{{ category }}</button>
            </li>
          {%- endfor -%}
        </ul>
      </header>

      <div class="sec-Brands_Body">
        <div class="sec-Brands_Cards sec-Brands_Cards-active">
          <ul class="sec-Brands_Items">
            {%- for value in titles -%}
              {%- assign image = page.metafields.brand_item.image[forloop.index0].first -%}
              {%- assign title = page.metafields.brand_item.title[forloop.index0] -%}
              {%- assign text = page.metafields.brand_item.text[forloop.index0] -%}
              {%- assign link_url = page.metafields.brand_item.link_url[forloop.index0] -%}
              {%- assign category = page.metafields.brand_item.category[forloop.index0] -%}

              <li class="sec-Brands_Item">
                {%- render 'brand-card',
                  image: image,
                  title: title,
                  text: text,
                  link_url: link_url
                -%}
              </li>
            {%- endfor -%}
          </ul>
        </div>

        <div class="sec-Brands_Cards">
          <ul class="sec-Brands_Items">
            {%- for value in titles -%}
              {%- assign image = page.metafields.brand_item.image[forloop.index0].first -%}
              {%- assign title = page.metafields.brand_item.title[forloop.index0] -%}
              {%- assign text = page.metafields.brand_item.text[forloop.index0] -%}
              {%- assign link_url = page.metafields.brand_item.link_url[forloop.index0] -%}
              {%- assign category = page.metafields.brand_item.category[forloop.index0] -%}

              {%- if category == 'Womens' -%}
                <li class="sec-Brands_Item">
                  {%- render 'brand-card',
                    image: image,
                    title: title,
                    text: text,
                    link_url: link_url
                  -%}
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>

        <div class="sec-Brands_Cards">
          <ul class="sec-Brands_Items">
            {%- for value in titles -%}
              {%- assign image = page.metafields.brand_item.image[forloop.index0].first -%}
              {%- assign title = page.metafields.brand_item.title[forloop.index0] -%}
              {%- assign text = page.metafields.brand_item.text[forloop.index0] -%}
              {%- assign link_url = page.metafields.brand_item.link_url[forloop.index0] -%}
              {%- assign category = page.metafields.brand_item.category[forloop.index0] -%}

              {%- if category == 'Mens' -%}
                <li class="sec-Brands_Item">
                  {%- render 'brand-card',
                    image: image,
                    title: title,
                    text: text,
                    link_url: link_url
                  -%}
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>
  </section>
{%- endif -%}
