<section class="sec-Intro sec-Intro-page">
  <div class="sec-Intro_Inner">
    <div class="sec-Intro_Body">
      {%- assign image = page.metafields.intro.image.first -%}

      {%- if image != blank -%}
        <div class="sec-Intro_ImageContainer">
          <div class="sec-Intro_Image">
            {%- render 'responsive-image-metafield',
              image: image,
              width: 800,
              height: 400
            -%}
          </div>

          <div class="sec-Intro_Overlay">
            {%- render 'arches' -%}
          </div>
        </div>
      {%- else -%}
        <div class="sec-Intro_Arches">
          <div class="sec-Intro_Arch sec-Intro_Arch-rust"></div>
          <div class="sec-Intro_Arch sec-Intro_Arch-forestgreen"></div>
          <div class="sec-Intro_Arch sec-Intro_Arch-ochre"></div>
        </div>
      {%- endif -%}

      <div class="sec-Intro_Content">
        {%- if page.metafields.intro.title != blank -%}
          <h1 class="sec-Intro_Title">{{ page.metafields.intro.title }}</h1>
        {%- endif -%}

        {%- if page.metafields.intro.text != blank -%}
          <p class="sec-Intro_Text">{{ page.metafields.intro.text }}</p>
        {%- endif -%}

        {%- assign intro_link_text = page.metafields.intro_link.link_text -%}

        {%- if intro_link_text.size > 0 -%}
          <ul class="sec-Intro_Items">
            {%- for value in intro_link_text -%}
              {%- assign link_url = page.metafields.intro_link.link_url[forloop.index0] -%}

              <li class="sec-Intro_Item"><a class="sec-Intro_Link" href="{{ link_url }}">{{ value }}</a></li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>
