{%- assign product_handles = page.metafields.products_items.product | split: '|' -%}

{%- if product_handles.size > 0 -%}
  <section class="sec-Products">
    <div class="sec-Products_Inner">
      {%- if page.metafields.products_header.title != blank -%}
        <header class="sec-Products_Header">
          <h2 class="sec-Products_Title">{{ page.metafields.products_header.title }}</h2>

          {%- if page.metafields.products_header.link_text != blank -%}
            <a class="sec-Products_Link" href="{{ page.metafields.products_header.link_url }}">
              {{ page.metafields.products_header.link_text }}
            </a>
          {%- endif -%}
        </header>
      {%- endif -%}

      <div class="sec-Products_Body">
        <ul class="sec-Products_Items">
          {%- for product_handle in product_handles -%}
            {%- assign products = all_products[product_handle] -%}

            {%- unless products == empty -%}
              <li class="sec-Products_Item">
                {%- render 'product-card',
                  product: products,
                  width: 600,
                  height: 700,
                  not_grid: true
                -%}
              </li>
            {%- endunless -%}
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </section>
{%- endif -%}
