<section class="sec-Breadcrumb sec-Breadcrumb-{{ template }}">
  <div class="sec-Breadcrumb_Inner">
    <div class="sec-Breadcrumb_Body">
      {%- render 'breadcrumbs' -%}
    </div>
  </div>
</section>
