<section class="sec-Intro sec-Intro-page">
  <div class="sec-Intro_Inner">
    <div class="sec-Intro_Body">
      {%- assign image = page.metafields.intro.image.first -%}

      {%- if image != blank -%}
        <div class="sec-Intro_ImageContainer">
          <div class="sec-Intro_Image">
            {%- render 'responsive-image-metafield',
              image: image,
              width: 800,
              height: 400
            -%}
          </div>

          <div class="sec-Intro_Overlay">
            {%- render 'arches' -%}
          </div>
        </div>
      {%- else -%}
        <div class="sec-Intro_Arches">
          <div class="sec-Intro_Arch sec-Intro_Arch-rust"></div>
          <div class="sec-Intro_Arch sec-Intro_Arch-forestgreen"></div>
          <div class="sec-Intro_Arch sec-Intro_Arch-ochre"></div>
        </div>
      {%- endif -%}

      <div class="sec-Intro_Content">
        {%- if page.metafields.intro.title != blank -%}
          <h1 class="sec-Intro_Title">{{ page.metafields.intro.title }}</h1>
        {%- endif -%}

        {%- if page.metafields.intro.text != blank -%}
          <p class="sec-Intro_Text">{{ page.metafields.intro.text }}</p>
        {%- endif -%}

        <ul class="sec-Intro_Items">
          <li class="sec-Intro_Item"><a class="sec-Intro_Link" href="#">Shop all</a></li>
          <li class="sec-Intro_Item"><a class="sec-Intro_Link" href="#">Shop Womens Clothing</a></li>
          <li class="sec-Intro_Item"><a class="sec-Intro_Link" href="#">Shop Mens Clothing</a></li>
          <li class="sec-Intro_Item"><a class="sec-Intro_Link" href="#">Shop Accessories</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
