{% assign description_tabs = product.description | split: '<h4>' %}
<div class="ProductTabs" data-module="product-tabs" data-targets-content="ProductTabsContent__content" data-targets-headings="ProductTabsHeadings__button">
    <nav class="ProductTabsHeadings">
        <ul class="ProductTabsHeadings__list">
            <li class="ProductTabsHeadings__listitem">
                <button class="ProductTabsHeadings__button ProductTabsHeadings__button--active" data-appear>
                    Description
                </button>
            </li>
            {%- if product.description contains '<h4>' -%}
                {% for tab in description_tabs %}
                    {% unless forloop.first %}
                        {% assign title = tab | split: '</h4>' | first %}
                        <li class="ProductTabsHeadings__listitem">
                            <button class="ProductTabsHeadings__button" data-appear>
                                {{ title }}
                            </button>
                        </li>
                    {% endunless %}
                {% endfor %}
            {%- endif -%}
        </ul>
    </nav>
    <div class="ProductTabsContent">
        <div class="ProductTabsContent__content Typeset ProductTabsContent__content--active" data-appear>{{ description_tabs[0] }}</div>
        {% for tab in description_tabs %}
            {% unless forloop.first %}
                {% assign content = tab | split: '</h4>' | last %}
                <div class="ProductTabsContent__content Typeset">{{ content }}</div>
            {% endunless %}
        {% endfor %}
    </div>
</div>