<div class="ProductGalleryList {% if product.images.size > 1 %}ProductGalleryList--carousel{% endif %}" data-module-targets=".ProductGalleryList__item" data-module="product-gallery">
    {%- for media in product.media -%}
        {% case media.media_type %}
            {% when 'image' %}
                <div class="ProductGalleryList__item">
                    {% include 'responsive-image' with image: media %}
                </div>
            {% when 'video' %}
                <div class="ProductGalleryList__item">
                    <div class="Video">
                        {{ media | video_class: "Video__video" | video_tag: controls: false, autoplay: true, mute: true, loop: true }}
                    </div>
                </div>
            {% when 'model' %}
                <div class="ProductGalleryList__item" data-media-id="{{ media.id }}">
                    <div class="Model">
                        {{ media | model_viewer_tag }}
                    </div>
                </div>
        {% endcase %}
    {%- endfor -%}
</div>