{% for tag in product.tags %}
    {% if tag contains 'Product Year:' %}
        {% assign text = tag | remove: 'Product Year:' %}
    {% endif %}
{% endfor %}

{% if text != blank %}
    <span class="ProductYear">
        {{ text }}
    </span>
{% endif %}