/*
|--------------------------------------------------------------------------
| HeroSlide
|--------------------------------------------------------------------------
| @namespace: HeroSlide
|
*/

.HeroSlide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.HeroSlide__inner {
    height: 100%;
}

.HeroSlide__columns {
    @include PageGrid();
    position: relative;
    height: 100%;
}

.HeroSlide__column {
    grid-column: 1 / -1;
    height: 100%;

    .HeroSlide--left & {
        text-align: left;
        @include bp(sm) {
            grid-column: 1 / span 6;
        }
        @include bp(lg) {
            grid-column: 1 / span 4;
        }
    }

    .HeroSlide--center & {
        text-align: center;
        @include bp(sm) {
            grid-column: 2 / span 10;
        }
        @include bp(lg) {
            grid-column: 4 / span 6;
        }
    }

    .HeroSlide--right & {
        text-align: left;
        @include bp(sm) {
            grid-column: 6 / span 6;
        }
        @include bp(lg) {
            grid-column: 8 / span 4;
        }
    }
}

.HeroSlide__content {
    position: relative;
    z-index: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: $color-white;

    .HeroSlide--dark & {
        color: $color-white;
    }

    .HeroSlide--light & {
        color: $color-black;
    }
}

.HeroSlide__body {
    margin-top: 1.5rem;
}

.HeroSlide__footer {
    margin-top: 1.5rem;
}

.HeroSlide__subtitle {
    @include Font__16-16;
    margin-bottom: 1rem;
    font-weight: $font-bold;
    @include bp(sm) {
        margin-bottom: 2rem;
    }
}

.HeroSlide__title {
    font-family: $font-secondary;

    @include Font__72-54;
    @include bp(sm) {
        @include Font__72-54;
    }
    line-height: $font-secondary-line-height-override; //Override line-height because font is whacky
}

.HeroSlide__text {
    @include Font__24-32;
    font-weight: $font-medium;
}

.HeroSlide__link {
    display: inline-block;
    @include Font__16-16;
    font-weight: $font-medium;
    @include LinkUnderlined;

    &::after {
        bottom: -0.8rem;
    }
}

.HeroSlide__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    .HeroSlide--dark & {
        background: $color-black;
        opacity: 0.5;
        @include bp(sm) {
            opacity: 0.25;
        }
    }

    .HeroSlide--light & {
        background: $color-white;
        opacity: 0.5;
        @include bp(sm) {
            opacity: 0.25;
        }
    }
}

.HeroSlide__media {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
}

.HeroSlide__fauxlink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 300;
}
