
.MarketingSignature {
    text-align: center;
    @include bp(sm) {
        text-align: left;
    }
}

.MarketingSignature__image {
    display: inline-block;
    width: 100%;
    max-width: 14rem;
}

.MarketingSignature__text {
    margin-top: 2rem;
    text-transform: uppercase;
    @include Font__16-24;
}
