/*
|--------------------------------------------------------------------------
| Breadcrumbs
|--------------------------------------------------------------------------
| @namespace: Breadcrumbs
|
*/

.Breadcrumbs {
    background-color: $color-gray-medium;
    text-align: center;
    padding: 0.5rem 0;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1;
}

.Breadcrumbs__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.Breadcrumbs__item {
    display: inline-block;
}

.Breadcrumbs__item + .Breadcrumbs__item {
    &:before {
        content: '>';
        margin-left: 0.25rem;
        display: inline-block;
    }
}

.Breadcrumbs__link {
    @include LinkUnderline();
}

.Breadcrumbs__link[aria-current="page"] {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
}
