.HeaderBrand {
    flex-shrink: 0;
    margin-right: -1px; // align dot to center of gutter

    .Template--index & {
        visibility: hidden;
    }

    .Svg {
        width: 2rem;
        height: 2rem;
    }
}

.HeaderBrand__link {
    display: block;
}

.Header__group {
    display: flex;
    align-items: center;
}
