/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
| @namespace: Header
|
*/

.Header {
    position: fixed;
    top: $notification-bar-height-small;
    left: 0;
    z-index: $z-header;
    width: 100%;
    height: $header-height-small;
    font-weight: $font-medium;
    text-transform: uppercase;
    background-color: $color-white;
    transition: transform $transition-medium, top $transition-medium;

    .UtilityHeader--unpinned & {
        top: 0;
        transform: translate3d(0, -100%, 0);
    }
}

.Header__inner {
    height: 100%;
}

.Header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



/* -----------------------------------------------------------------------
| Headroom Specific - modifiers
|------------------------------------------------------------------------- */

.HeaderNavigation {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.HeaderActions {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.Header__group {
    flex-grow: 1;
    width: 50%;
}
