/*
|--------------------------------------------------------------------------
| Header - Menu
|--------------------------------------------------------------------------
| @namespace: MobileMenu
|
*/

.MobileMenu {
    position: fixed;
    top: 0; 
    right: 0;
    bottom: 0; 
    left: 0;
    z-index: $z-menu;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    text-align: center;
    background-color: $color-white;
    transform: translate3d(0, 100%, 0);
    transition: transform $transition-slow;
    pointer-events: none;
    @include bp(sm) {
        display: none;
    }

    .UtilityMenuActive & {
        transform: translate3d(0, 0, 0);
        pointer-events: auto;
    }
}

.MobileMenu__inner {
    height: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.MobileMenu__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.MobileMenu__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    .Svg {
        display: block;
        width: 2rem;
        height: 2rem;
    }
}
