/*
|--------------------------------------------------------------------------
| Header - Notification
|--------------------------------------------------------------------------
| @namespace: HeaderNotification
|
*/

.HeaderNotification {
    text-align: center;
    font-size: 10px;
}

.HeaderNotification__body {
padding: 1rem 0;
display: flex;
justify-content: space-between;
align-items: center;
}


.HeaderNotification__text {
    letter-spacing: 0.1em;
}
