/*
|--------------------------------------------------------------------------
| Blog
|--------------------------------------------------------------------------
| @namespace: sec-
|
*/
.sec-Blog {
  margin-top: 80px;
  margin-bottom: 80px;
}

.sec-Blog_Inner {
  @include Container;
}

.sec-Blog_Header {
  margin-bottom: 80px;
}

.sec-Blog_Items {
  column-count: 3;
  column-gap: 25px;

  margin-top: -50px;
}

.sec-Blog_Item {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
}
