/*
|--------------------------------------------------------------------------
| Intro
|--------------------------------------------------------------------------
| @namespace: sec-
|
*/
.sec-Intro {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}

.sec-Intro_Inner {
  @include Container;
}

.sec-Intro_Body {
  align-items: center;

  display: flex;
}

.sec-Intro_ImageContainer {
  position: relative;

  flex-shrink: 0;

  width: 30%;
  margin-right: 25px;
}

.sec-Intro_Image {
  .sec-Intro-collection & {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
  }
}

.sec-Intro_Overlay {
  .sec-Intro-collection & {
    position: relative;
    z-index: 1;

    width: 100%;
  }
}

.sec-Intro_Arches {
  flex-shrink: 0;

  display: flex;
  width: 31%;
  margin-right: 25px;
  margin-left: -15px;
}

.sec-Intro_Arch {
  min-height: 185px;
  width: calc(33.33% - 15px);
  margin-left: 15px;

  border: 3px solid $color-brand;
  border-radius: 60px 60px 0 0;
}

.sec-Intro_Arch-rust {
  border-color: $color-rust
}

.sec-Intro_Arch-forestgreen {
  border-color: $color-forestgreen;
}

.sec-Intro_Arch-ochre {
  border-color: $color-ochre;
}

.sec-Intro_Content {
  flex-grow: 1;

  width: 70%;
}

.sec-Intro_Title {
  align-items: flex-end;
  justify-content: space-between;

  display: flex;

  font-family: $founders-grotesk-regular;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
}

.sec-Intro_Text {
  margin-top: 20px;

  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 28px;
}

.sec-Intro_Count {
  font-family: $helvetica-neue;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 28px;
}

.sec-Intro_Items {
  display: flex;
  margin-top: 25px;
}

.sec-Intro_Item {
  margin-right: 30px;

  font-family: $founders-grotesk-medium;
  font-size: 20px;
  line-height: 28px;

  &:last-child {
    margin-right: 0;
  }
}
