/*
|--------------------------------------------------------------------------
| Stories
|--------------------------------------------------------------------------
| @namespace: sec-
|
*/
.sec-Stories {
  position: relative;

  margin-top: 120px;
  margin-bottom: 120px;
  padding-bottom: 80px;

  overflow: hidden;

  &::after {
    content: '';

    position: absolute;
    top: 57px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: $color-offwhite;
  }
}

.sec-Stories_Header {
  @include Container;

  align-items: center;
  justify-content: space-between;

  display: flex;
  margin-bottom: 40px;
}

.sec-Stories_Title {
  font-family: $founders-grotesk-regular;
  font-size: 80px;
  font-weight: 400;
  line-height: 94px;

  color: $color-black;
}

.sec-Stories_Link {
  @include Button-rust-outline;

  margin-top: 17px;
}

.sec-Stories_Item {
  position: relative;

  opacity: 0.6;

  transition: opacity 0.5s;
}

.sec-Stories_Item-active {
  opacity: 1;
}

.sec-Stories_Carousel {
  position: relative;

  overflow: hidden;

  touch-action: pan-y;
}

.sec-Stories_Arrows {
  position: absolute;
  top: 35%;
  right: 0;
  left: 0;
}

.sec-Stories_Arrow {
  position: absolute;
  top: 36%;
}

.sec-Stories_Arrow-left {
  left: 140px;
}

.sec-Stories_Arrow-right {
  right: 140px;
}

.sec-Stories_ArrowIcon {
  width: 75px;
  height: 25px;

  color: $color-brand;

  stroke: $color-brand;

  svg {
    width: 75px;
    height: 25px;
  }
}
