/*
|--------------------------------------------------------------------------
| Footer - Baseline
|--------------------------------------------------------------------------
| @namespace: FooterBaseline
|
*/

.FooterBaseline {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: $font-light;
    font-family: $font-secondary;
}

.FooterBaseline__columns {
    @include PageGrid;
    grid-row-gap: 1rem;
    @include bp(sm) {
        grid-row-gap: 2rem;
    }
}

.FooterBaseline__link {
    @include LinkUnderline;
}

.FooterBaseline__text {
    @include Font__12-24;
}

.FooterBaseline__column {
    grid-column: 1 / -1;
    align-self: center;
    @include bp(sm) {
        grid-column: span 6;
    }
}

.FooterBaseline__column--copyright {
    @include bp(sm) {
        text-align: left;
    }
}

.FooterBaseline__column--logos {
    grid-row: 1;
    @include bp(sm) {
        grid-row: auto;
    }
}

.FooterBaseline__column--by {
    @include bp(sm) {
        text-align: right;
    }
}

.FooterBaseline__logos {
    display: inline-block;
    width: 14rem;
    @include bp(sm) {
        width: 18rem;
    }
}

.FooterBaseline__by {
    transition: color $transition;
    
    &:hover {
        color: $color-primary;
    }
}
