/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
| @namespace: Footer
|
*/

.Footer {
    color: $color-text;
    font-weight: $font-normal;
    background-color: $color-white;
    border-top: 1px solid $color-border;
}

.Footer__body {
    padding-top: 4rem;
    padding-bottom: 2rem;
    @include bp(sm) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.Footer__brand {
    max-width: 6rem;
}

.Footer__brandmessage {
    max-width: 20rem;
    margin-top: 2rem;
    font-family: $font-secondary;
    @include Font__12-24;
}

.Footer__columns {
    @include PageGrid;
    grid-row-gap: 0;
}

.Footer__column {
    display: grid;
    flex-direction: column;
    grid-column: span 2;
    @include bp(sm) {
        grid-row: 1;
    }
}

.Footer__column--brand {
    grid-row: 1;
    grid-column: 1 / -1;
    padding-bottom: 2rem;
    @include bp(sm) {
        grid-column: span 6;
        padding-bottom: 0;
    }
}

.Footer__header {
    position: relative;
    padding: 1rem 0;
    
    &::after {
        position: absolute;
        top: 1rem;
        right: 0;
        width: 1rem;
        height: 1rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: transform $transition;
        content: "";
    }
    
    .Footer__column--active & {
        
        &::after {
            transform: rotate(180deg);
        }
    }
    
    @include bp(sm) {
        
        &::after {
            display: none;
        }
    }
}

.Footer__footer {
    align-self: flex-end;
}

.Footer__title {
    font-weight: $font-medium;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
}

.FooterMenuList__content {
    display: block;
    padding-bottom: 2rem;
}

.FooterMenuList__link {
    @include LinkUnderline;
    @include Font__12-24;
    font-family: $font-secondary;
}
