
/*
|--------------------------------------------------------------------------
| Brand
|--------------------------------------------------------------------------
| @namespace: Brand
|
*/

.Brand {
    text-align: center;
}

.Brand__title {
    text-transform: uppercase;
    @include Font__32-32;
}

.Brand__logo {
    max-width: 8rem;
    margin-right: auto;
    margin-bottom: 2rem;    
    margin-left: auto;
}
