/*
|--------------------------------------------------------------------------
| Social - List
|--------------------------------------------------------------------------
| @namespace: SocialList
|
*/

.SocialList {

    .Footer & {
        color: $color-primary;
    }
}

.SocialList__items {
    display: inline-flex;
}

.SocialList__item {

    .Svg {
        display: block;
        width: 1.25rem;
        height: 1.25rem;
    }
}

.SocialList__item + .SocialList__item {
    margin-left: 1rem;
}

.SocialList__link {
    transition: color $transition;
    @include Hover() {
        color: $color-secondary;
    }
}
