/*
|--------------------------------------------------------------------------
| Pagination
|--------------------------------------------------------------------------
| @namespace: Pagination
|
*/

.Pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.PaginationNav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    @include bp(sm) {
        flex: initial;
    }
}

.PaginationNavList {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    @include bp(sm) {
        flex: initial;
    }
}

.PaginationNavList__item {
    display: inline-block;
    padding: 0.5rem;
    @include Font__18-18;
}

.PaginationNavList__link {
    font-weight: $font-normal;
    @include LinkUnderline;
}

.PaginationNavList__link--active {
    color: $color-secondary;
    font-weight: $font-medium;
}

.PaginationNav__prev-next {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    .Svg {
        width: 1rem;
        height: 1rem;
        display: block;
    }
}

.PaginationNav__prev-next--previous {
    margin-right: 3rem;
}

.PaginationNav__prev-next--next {
    margin-left: 3rem;
}

.PaginationNav__prev-next--inactive {
    opacity: 0.25;
}
