{%- assign text = section.settings.text -%}
{%- assign image = section.settings.image -%}

<section class="Section">
  <div class="Section__inner PageContainerFluidWide">
    <div class="Section__body">
      <div class="AccountBoxes">
        <div class="AccountBoxes__item AccountBoxes__item--image">
          {% include 'responsive-image' with image: image %}
        </div>

        <div class="AccountBoxes__item AccountBoxes__item--secondary">
          {%- include 'account-login' -%}

          <div class="AccountBox">
            <header class="AccountBox__header">
              <h2 class="AccountBox__title">{{ 'layout.customer.create_account' | t }}</h2>
            </header>

            {%- if text != blank -%}
              <div class="AccountBox__body Typeset">
                {{ text }}
              </div>
            {%- endif -%}

            <div class="Form__footer">
              <ul class="Form__columns Form__columns--tight">
                <li class="Form__column Form__column--span">
                  <a class="button button--block button--primary" href="/account/register">
                    {{ 'customer.account.register' | t }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
