/*
|--------------------------------------------------------------------------
| Newsletter 
|--------------------------------------------------------------------------
| @namespace: Newsletter
|
*/

.Newsletter {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: $z-newsletter;
    width: 100%;
    max-width: 38rem;
    padding: 3rem 1.5rem;
    color: $color-white;
    background: $color-text;
    transform: translate3d(0, 100%, 0);
    backface-visibility: hidden;
    transition: transform $transition;
    will-change: transform;
    @include bp(sm) {
        padding: 3rem;
    }
}

.Newsletter__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.Newsletter--active {
    transform: translate3d(0, 0, 0);
}

.Newsletter__title {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    @include Font__32-32;
}

.Newsletter__text {
    max-width: 22rem;
    font-family: $font-secondary;
}

.Newsletter__header {
    margin-bottom: 2rem;
}
