
/*
|--------------------------------------------------------------------------
| Cart Form - Products
|--------------------------------------------------------------------------
| @namespace: CartFormProducts
|
*/

.CartFormProducts {
    grid-column-start: 1;
    grid-column-end: 13;

    @include bp(md) {
        grid-column-start: 1;
        grid-column-end: 7;
    }
}

.CartFormProducts__header {
    margin-bottom: 2rem;
}

.CartFormProducts__title {
    margin-bottom: 2rem;
    @include Font__24-32;
    text-transform: uppercase;
}

.CartProductsList {
    padding: 1rem;
    background-color: $color-white;
    border-radius: 6px;
    box-shadow: $box-shadow;
}

.CartProductsList__item + .CartProductsList__item {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $color-border;
}

.CartProducts__update {
    margin-top: 2rem;
}

.CartProducts__updatebutton {
    display: inline-block;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    @include LinkUnderlined;
}

.CartEmpty {
    max-width: 36rem;
    margin: auto;
    text-align: center;
}

.CartEmpty__text {
    margin-bottom: 1rem;
}
