
/*
|--------------------------------------------------------------------------
| Cart - Product
|--------------------------------------------------------------------------
| @namespace: CartProduct
|
*/

.CartProduct {
    display: flex;
    align-items: center;
    @include Font__12-24;

    @include bp(sm) {
        @include Font__14-24;
    }
}

.CartProduct__thumbnail {
    display: none;
    width: 4rem;
    @include bp(sm) {
        display: block;
    }
}

.CartProduct__information {
    flex: 1;
    padding-right: 1rem;
    padding-left: 0;

    @include bp(sm) {
        padding: 0 1rem;
    }
}

.CartProduct__title {
    @include Font__14-24;
    @include bp(sm) {
        @include Font__18-20;
    }
    color: $color-black;
    font-weight: $font-bold;
}

.CartProduct__quantity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
    @include bp(sm) {
        padding: 0 2rem;
    }
}

.CartProduct__removelink {
    @include LinkUnderlined;
    display: inline-block;
}

.CartProduct__total {
    width: 5rem;
    padding: 0 1rem;
    font-weight: $font-bold;
}

.CartProductQuantity {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.CartProductQuantity__input {
    width: 3rem;
    height: 3rem;
    padding: 0;
    text-align: center;
    border: 1px solid $color-border;
    -webkit-appearance: none;
    appearance: none;
}

.CartProductQuantity__button {
    height: 3rem;
    padding: 0 1rem;
    text-align: center;
    border: 1px solid $color-border;
    -webkit-appearance: none;
    appearance: none;    
    @include Hover() {
        cursor: pointer;
    }
}
