/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
|
*/
@mixin Button {
  display: inline-block;
  padding: 7px 25px 8px;

  font-family: $font-heading;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50px;
  color: $color-brand;

  transition: background-color 0.2s, border 0.2s, color 0.2s;

  @media (min-width: 1024px) {
    padding: 10px 40px 11px;

    font-size: 14px;
    line-height: 22px;

    border-width: 2px;
  }

  &[disabled] {
    background-color: $color-brand;
    color: $color-white;
  }
}

@mixin Button-primary {
  @include Button;

  background-color: $color-accent;
  border-color: $color-accent;
  color: $color-white;

  &:hover,
  &:focus {
    background-color: $color-brand;
    border-color: $color-brand;
  }
}

/*
|--------------------------------------------------------------------------
| Container
|--------------------------------------------------------------------------
|
*/
@mixin Container {
  max-width: $container-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $container-gutter-mobile;
  padding-left: $container-gutter-mobile;

  @media (min-width: 750px) {
    padding-right: $container-gutter-desktop;
    padding-left: $container-gutter-desktop;
  }
}
