/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
|
*/
@mixin Button {
  min-width: 200px;
  display: inline-block;
  padding: 15px 30px;

  font-family: $founders-grotesk-light;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.6px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0;
  color: $color-brand;

  transition: background-color 0.2s, border 0.2s, color 0.2s;

  &[disabled] {
    background-color: $color-brand;
    color: $color-white;
  }
}

@mixin Button-brand {
  @include Button;

  background-color: $color-brand;
  border-color: $color-brand;
  color: $color-white;

  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-brand;
  }
}

@mixin Button-brand-outline {
  @include Button;

  background-color: $color-white;
  border-color: $color-brand;
  color: $color-brand;

  &:hover,
  &:focus {
    background-color: $color-brand;
    color: $color-white;
  }
}

@mixin Button-rust {
  @include Button;

  background-color: $color-rust;
  border-color: $color-rust;
  color: $color-white;

  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-brand;
  }
}

@mixin Button-rust-outline {
  @include Button;

  background-color: $color-white;
  border-color: $color-rust;
  color: $color-brand;

  &:hover,
  &:focus {
    background-color: $color-rust;
    color: $color-white;
  }
}

@mixin Button-forestgreen {
  @include Button;

  background-color: $color-forestgreen;
  border-color: $color-forestgreen;
  color: $color-white;

  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-brand;
  }
}

@mixin Button-forestgreen-outline {
  @include Button;

  background-color: $color-white;
  border-color: $color-forestgreen;
  color: $color-brand;

  &:hover,
  &:focus {
    background-color: $color-forestgreen;
    color: $color-white;
  }
}

@mixin Button-ochre {
  @include Button;

  background-color: $color-ochre;
  border-color: $color-ochre;
  color: $color-white;

  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-brand;
  }
}

@mixin Button-ochre-outline {
  @include Button;

  background-color: $color-white;
  border-color: $color-ochre;
  color: $color-brand;

  &:hover,
  &:focus {
    background-color: $color-ochre;
    color: $color-white;
  }
}

/*
|--------------------------------------------------------------------------
| Container
|--------------------------------------------------------------------------
|
*/
@mixin Container {
  max-width: $container-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $container-gutter-mobile;
  padding-left: $container-gutter-mobile;

  @media (min-width: 750px) {
    padding-right: $container-gutter-desktop;
    padding-left: $container-gutter-desktop;
  }
}
