/*
|--------------------------------------------------------------------------
| Breakpoints
|--------------------------------------------------------------------------
|
*/
$breakpoint-xxs: 'min-width: 350px';
$breakpoint-xs: 'min-width: 450px';
$breakpoint-sm: 'min-width: 768px';
$breakpoint-md: 'min-width: 900px';
$breakpoint-lg: 'min-width: 1200px';
$breakpoint-xlg: 'min-width: 1440px';
$breakpoint-xxlg: 'min-width: 1675px';

/*
|--------------------------------------------------------------------------
| Colours
|--------------------------------------------------------------------------
|
*/
$color-brand: #444;
$color-border: #eee;
$color-forestgreen: #3c735f;
$color-ochre: #b79c2f;
$color-rust: #ce765a;
$color-offwhite: #fafafa;

/*
|--------------------------------------------------------------------------
| Container
|--------------------------------------------------------------------------
|
*/
$container-width: 1400px;
$container-gutter-desktop: 80px;
$container-gutter-mobile: 20px;

/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
|
*/
$fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

$helvetica-neue: 'Helvetica Neue', $fallback;
$founders-grotesk-light: FoundersGroteskLight, $fallback;
$founders-grotesk-regular: FoundersGroteskRegular, $fallback;
$founders-grotesk-medium: FoundersGroteskMedium, $fallback;
