/*
|--------------------------------------------------------------------------
| Colours
|--------------------------------------------------------------------------
|
*/
$color-brand: #444;
$color-border: #eee;
$color-forestgreen: #3c735f;
$color-ochre: #b79c2f;
$color-rust: #ce765a;
$color-offwhite: #fafafa;

/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
|
*/
$font-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
