<section class="Section">
    <div class="Section__inner PageContainer">
        <div class="Section__body">
            <div class="AccountBoxes">
                <div class="AccountBoxes__item AccountBoxes__item--primary">
                    <div class="AccountBox AccountBox--wide">
                        <header class="AccountBox__header">
                            <h2 class="AccountBox__title">{{ 'customer.order.title' | t: name: order.name }}</h2>
                        </header>
                        {%- include 'account-order' -%}
                    </div>
                </div>
                <div class="AccountBoxes__item AccountBoxes__item--secondary">
                    <div class="AccountBox">
                        <div class="Form__footer">
                            <ul class="Form__columns Form__columns--tight">
                                <li class="Form__column Form__column--span">
                                    <a class="button button--block button--primary" href="/account/">
                                        {{ 'customer.orders.back' | t }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>