{%- include 'breadcrumbs' -%}
{% paginate collection.products by 16 %}
    <section class="Section">
        <div class="Section__inner PageContainerFluidWide">
            <header class="Section__header">
                <div class="Section__columns">
                    <div class="Section__column Section__column--tight">
                        <h1 class="Section__title">
                            {{ collection.title }}
                        </h1>
                    </div>
                </div>
            </header>

            <div class="Section__body">

                <button data-drawer-trigger="sorting">{{ 'collections.sorting.title' | t }}</button>
                
                <div class="ProductList">
                    {% for product in collection.products %}
                        {%- assign product = all_products[block.settings.product] -%}
                        <div class="ProductList__item">
                            {% include 'product-card' with product:product %}
                        </div>
                    {%- endfor -%}
                </div>
            </div>  
            {%- if paginate.pages > 1 -%}
                <footer class="Section__footer">
                    {%- include 'pagination' -%}
                </footer>
            {%- endif -%}
        </div>
    </section>
{% endpaginate %}