<section class="Drawers" data-module="drawers">

    <div class="Drawer" data-drawer-id="sorting">
        <div class="Drawer__inner">
            <header class="Drawer__header">
                <h3 class="Drawer__title">
                    Sort by
                </h3>
                <button class="Drawer__close" data-drawer-close>
                    <span class="Drawer__closetext">
                        Close
                    </span>
                </button>
            </header>
            <div class="Drawer__body">
                    {%- include 'collection-sorting' -%}
            </div>
        </div>
    </div>

    <div class="Drawer" data-drawer-id="filters">
        <div class="Drawer__inner">
            <header class="Drawer__header">
                <h3 class="Drawer__title">
                    Filters
                </h3>
                <button class="Drawer__close" data-drawer-close>
                    <span class="Drawer__closetext">
                        Close
                    </span>
                </button>
            </header>
            <div class="Drawer__body">
                filters
            </div>
        </div>
    </div>

    <div class="Drawer" data-drawer-id="rhubarb">
        <div class="Drawer__inner">
            <header class="Drawer__header">
                <h3 class="Drawer__title">
                    Sort by
                </h3>
                <button class="Drawer__close" data-drawer-close>
                    <span class="Drawer__closetext">
                        Close
                    </span>
                </button>
            </header>
            <div class="Drawer__body">
                rhubarb
            </div>
        </div>
    </div>

    <div class="Drawers__mask" data-drawer-mask></div>

</section>