<footer class="Footer">
  <div class="Footer__inner PageContainerFluid">
    <div class="Footer__body">
      <p>Footer</p>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [

    ]
  }
{% endschema %}
