<section class="sec-Products" data-section-id="{{ section.id }}" data-section-type="homepage-products">
  <div class="sec-Products_Inner">
    {%- if section.settings.title != blank -%}
      <header class="sec-Products_Header">
        <h2 class="sec-Products_Title">{{ section.settings.title }}</h2>

        {%- if section.settings.link_text != blank -%}
          <a class="sec-Products_Link" href="{{ section.settings.link_url }}">
            {{ section.settings.link_text }}
          </a>
        {%- endif -%}
      </header>
    {%- endif -%}

    <div class="sec-Products_Body">
      <ul class="sec-Products_Items">
        {%- for block in section.blocks -%}
          <li class="sec-Products_Item">
            {%- render 'product-card',
              product: all_products[block.settings.product],
              width: 600,
              height: 700,
              not_grid: true
            -%}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Products",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link text"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Homepage",
        "name": "Products"
      }
    ]
  }
{% endschema %}
