{%- assign title = page.title -%}
{% include 'hero' %}
<section class="Section" data-section-id="{{ section.id }}" data-section-type="product">
    <div class="Section__inner PageContainer">
        <div class="PageContent">
            <ul class="PageContent__columns">
                <li class="PageContent__column PageContent__column--aside">
                    {% include 'page-content-aside' %}
                </li>
                <li class="PageContent__column PageContent__column--main">
                    <div class="PageContentMain">
                        <ul class="PageContentMain__blocks">
                            <li class="PageContentMain__block">
                                <header class="PageContentMain__header">
                                    {%- if title != blank -%}
                                        <h1 class="PageContentMain__title" data-appear>{{ title }}</h1>
                                    {%- endif -%}
                                </header>
                                <div class="PageContentMain__body Typeset">
                                    {{ page.content }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
{% schema %}
{
	"name": "Page",
	"presets": [{
		"name": "Page"
	}],
	"settings": [{
			"type": "header",
			"content": "Hero"
		},
		{
			"type": "image_picker",
			"id": "hero_image",
			"label": "Image",
			"info": "Suggested size 2560 x 500px"
		}
	]
}
{% endschema %}