{%- assign enabled = section.settings.enable -%}
{%- if enabled != blank -%}
<div class="PrivacyNotification" data-module="privacy-notification">
    <div class="PrivacyNotification__inner PageContainer">
        <div class="PrivacyNotification__body">
            <p class="PrivacyNotification__text">
                Next day delivery available on orders placed Mon - Fri
            </p>
        </div>
    </div>
</div>
{%- endif -%}

{% schema %}
{
    "name": "Privacy Notice",
    "settings": [
    {
        "type": "checkbox",
        "id": "enable",
        "default": false,
        "label": "Enable privacy notice"
     },
     {
         "type": "text",
         "id": "text",
         "label": "Text",
         "default": "Privacy notice text",
     }
    ]
}
{% endschema %}