{% assign title = section.settings.title %}
{% assign subtitle = section.settings.subtitle %}
{% assign border_top = section.settings.border_top %}
<section class="Section product-recommendations {% if border_top %} Section--border-top{% endif %}" data-base-url="{{ routes.product_recommendations_url }}" data-product-id="{{ product.id }}" data-limit="4" data-module="product-recommendations">
    {%- if recommendations.products_count > 0 -%}
        <div class="Section__inner PageContainerFluid PageContainerFluid--mobilebreakout">
            <header class="Section__header">
                <ul class="Section__columns">
                    <li class="Section__column Section__column--narrow">
                        {%- if subtitle != blank -%}
                            <p class="Section__subtitle" data-appear>
                                {{ subtitle }}
                            </p>
                        {%- endif -%}
                        {%- if title != blank -%}
                            <h2 class="Section__title" data-appear>
                                {{ title }}
                            </h2>
                        {%- endif -%}
                    </li>
                </ul>
            </header>
            <div class="Section__body">
                <ul class="ProductListCarousel" data-module-carousel>
                    {%- for product in recommendations.products -%}
                        {%- assign product = all_products[block.settings.product] -%}
                        <li class="ProductListCarousel__item">
                            {%- include 'product-card' with product:product  -%}
                        </li>
                    {%- endfor -%}
                </ul>
        </div>
    {%- endif -%}
</section>
{% schema %}
{
    "presets": [
        {
            "name": "Product Recommendations",
            "category": "Products"
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Styling",
            "info": "Styling such as dividing borders"
        }, {
            "type": "checkbox",
            "id": "border_top",
            "default": false,
            "label": "Add top border"
        }, {
            "type": "header",
            "content": "Introduction",
            "info": "Title and Text"
        }, {
            "type": "text",
            "id": "title",
            "label": "Title"
        }, {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
        }
    ]
}
{% endschema %}
