{% assign title = section.settings.title %}
{% assign subtitle = section.settings.subtitle %}
{% assign border_top = section.settings.border_top %}
{% assign product = section.settings.product %}
<section class="Section {% if border_top %} Section--border-top{% endif %}">
    <div class="Section__inner PageContainerFluid">
        <header class="Section__header">
            <ul class="Section__columns">
                <li class="Section__column Section__column--tight">
                    {%- if subtitle != blank -%}
                        <p class="Section__subtitle" data-appear>
                            {{ subtitle }}
                        </p>
                    {%- endif -%}
                    {%- if title != blank -%}
                        <h2 class="Section__title" data-appear>
                            {{ title }}
                        </h2>
                    {%- endif -%}
                </li>
            </ul>
        </header>
        <div class="Section__body">
            {%- assign product = all_products[product] -%}
            {% include 'product-single' with product:product, featured:true %}
        </div>
    </div>
</section>
{% schema %}

{
    "presets": [
        {
            "name": "Featured Product",
            "category": "Products"
        }
    ],
    "settings": [
        {
            "type": "header",
            "content": "Styling",
            "info": "Styling such as dividing borders"
        }, {
            "type": "checkbox",
            "id": "border_top",
            "default": false,
            "label": "Add top border"
        }, {
            "type": "header",
            "content": "Introduction",
            "info": "Title and Text"
        }, {
            "type": "text",
            "id": "title",
            "label": "Title"
        }, {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
        }, {
            "type": "header",
            "content": "Link",
            "info": "Link below title, e.g 'View More'"
        }, {
            "type": "url",
            "id": "more_link",
            "label": "Link"
        }, {
            "type": "text",
            "id": "more_link_text",
            "label": "Link Text"
        }, {
            "type": "product",
            "id": "product",
            "label": "Product"
        }
    ]
}

{% endschema %}
