/*
|--------------------------------------------------------------------------
| Banner
|--------------------------------------------------------------------------
| @namespace: ft-
|
*/
.ft-Banner_Columns {
  @media ($breakpoint-sm) {
    display: flex;
  }
}

.ft-Banner_Column {
  @media ($breakpoint-sm) {
    flex-shrink: 0;

    width: 25%;
  }
}

.ft-Banner_Column-logo {
  margin-bottom: 30px;

  @media ($breakpoint-sm) {
    margin-bottom: 0;
  }
}
