/*
|--------------------------------------------------------------------------
| Logo
|--------------------------------------------------------------------------
| @namespace: ft-
|
*/
.ft-Logo {
  width: 178px;
  height: 46px;
  padding-top: 10px;

  color: $color-brand;

  svg {
    width: 178px;
    height: 46px;
  }
}
