/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
| @namespace: ft-
|
*/
.ft-Navigation_Items {
  display: none;

  @media ($breakpoint-sm) {
    display: block;
  }

  .ft-Navigation-active & {
    display: block;
  }
}

.ft-Navigation_Link {
  display: block;

  font-size: 16px;
  line-height: 32px;
}

.ft-Navigation_Link-active {
  color: $color-brand;
}
