/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
| @namespace: ft-
|
*/
.ft-Navigation_Title {
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;

  .ft-Navigation-active & {
    color: red;
  }
}

.fft-Navigation_Title-active {
  color: red;
}

.ft-Navigation_Items {
  display: none;

  @media ($breakpoint-sm) {
    display: block;
  }

  .ft-Navigation-active & {
    display: block;
  }
}

.ft-Navigation_Link {
  display: block;

  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
}
