/*
|--------------------------------------------------------------------------
| Privacy - Notification
|--------------------------------------------------------------------------
| @namespace: PrivacyNotification
|
*/

.PrivacyNotification {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    background-color: $color-primary;
    color: $color-white;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    z-index: $z-privacy-notification;
}

.PrivacyNotification__body {
padding: 0.5rem 0;
}


.PrivacyNotification__text {
    letter-spacing: 0.1em;
}

.PrivacyNotification__close {
    position: absolute;
    top:0;
    right:0;
}
