/*
|--------------------------------------------------------------------------
| Announcement
|--------------------------------------------------------------------------
| @namespace: hd-
|
*/
.hd-Announcement {
  padding-top: 6px;
  padding-bottom: 10px;

  text-align: center;

  background-color: $color-forestgreen;
}

.hd-Announcement_Inner {
  padding-right: 20px;
  padding-left: 20px;
}

.hd-Announcement_Text {
  font-family: $founders-grotesk-regular;
  font-size: 16px;
  line-height: 18px;

  color: $color-white;
}
