/*
|--------------------------------------------------------------------------
| Currency
|--------------------------------------------------------------------------
| @namespace: hd-
|
*/
.hd-Currency {
  position: absolute;
  top: 3px;
  left: 20px;

  select {
    font-size: 12px;
    letter-spacing: 0.17px;
    line-height: 15px;

    border: 0;
  }
}
