/*
|--------------------------------------------------------------------------
| Currency
|--------------------------------------------------------------------------
| @namespace: hd-
|
*/
.hd-Currency {
  position: absolute;
  top: 10px;
  left: 20px;
}
