/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
| @namespace: hd-
|
*/
.hd-SearchFull {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  width: 100%;
  height: 100%;

  background-color: $color-white;

  transform: translateY(-100%);
  transition: transform 0.2s;

  .lay-Search-active & {
    transform: none;
  }
}

.hd-SearchFull_Inner {
  @include Container;
}

.hd-SearchFull_Body {
  position: relative;
}

.hd-SearchFull_Close {
  position: absolute;
  top: 80px;
  right: 0;

  width: 32px;
  height: 32px;

  color: $color-brand;
}
