/*
|--------------------------------------------------------------------------
| Logo
|--------------------------------------------------------------------------
| @namespace: hd-
|
*/
.hd-Logo {
  display: block;
  width: 125px;
  height: 32px;

  svg {
    width: 125px;
    height: 32px;

    color: #444;
  }
}
