/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
| @namespace: hd-
|
*/
.hd-Navigation {
  display: block;
  margin-top: 20px;
}

.hd-Navigation_Items {
  justify-content: center;

  display: flex;
}

.hd-Navigation_Item {
  margin-left: 10px;
  margin-right: 10px;
}

.hd-Navigation_Link {
  position: relative;

  display: block;
  padding: 5px 45px;

  font-size: 20px;
  line-height: 24px;

  background-color: #fff;
  border-radius: 0 0 20px 20px;

  transition: background-color 0.2s;
}

.hd-Navigation_Link-1 {
  &:hover {
    background-color: rgba($color-rust, 0.5);
  }

  &.hd-Navigation_Link-active {
    background-color: rgba($color-rust, 0.5);
  }
}

.hd-Navigation_Link-2 {
  &:hover {
    background-color: rgba($color-ochre, 0.5);
  }

  &.hd-Navigation_Link-active {
    background-color: rgba($color-ochre, 0.5);
  }
}

.hd-Navigation_Link-3 {
  &:hover {
    background-color: rgba($color-forestgreen, 0.5);
  }

  &.hd-Navigation_Link-active {
    background-color: rgba($color-forestgreen, 0.5);
  }
}
