/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
| @namespace: hd-
|
*/
.hd-Navigation {
  display: block;
}

.hd-Navigation_Items {
  justify-content: center;

  display: flex;
}

.hd-Navigation_Item {
  margin-left: 20px;
  margin-right: 20px;
}

.hd-Navigation_Link {
  position: relative;

  display: block;
}

.hd-Navigation_Icon {
  position: absolute;
  bottom: -8px;

  justify-content: center;

  display: flex;
  width: 100%;
  height: 7px;

  opacity: 0;
  visibility: hidden;

  transform: translateY(-5px);
  transition: visibility 0.2s, transform 0.2s;

  .hd-Navigation_Link:hover & {
    opacity: 1;
    visibility: visible;

    transform: none;
  }

  .hd-Navigation_Link-active & {
    opacity: 1;
    visibility: visible;

    transform: none;
  }

  svg {
    width: 15px;
    height: 7px;
  }
}
