/*
|--------------------------------------------------------------------------
| Search
|--------------------------------------------------------------------------
| @namespace: hd-
|
*/
.hd-Search {
  width: 80%;
}

.hd-Search_Fields {
  position: relative;

  display: flex;
}

.hd-Search_Field {
  width: 100%;
}

.hd-Search_Input {
  width: 100%;
  padding: 12px 12px 12px 55px;

  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 24px;

  appearance: none;
  background-color: $color-offwhite;
  border: 0;
  border-radius: 0;
  color: $color-brand;

  &::placeholder {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 24px;

    opacity: 0.3;
  }
}

.hd-Search_Button {
  position: absolute;
  top: 8px;
  left: 10px;
}

.hd-Search_Icon {
  display: block;

  svg {
    width: 32px;
    height: 32px;

    color: $color-brand;
  }
}
