/*
|--------------------------------------------------------------------------
| Search
|--------------------------------------------------------------------------
| @namespace: hd-
|
*/
.hd-Search {
  svg {
    width: 24px;
    height: 24px;

    color: #444;
  }
}
