/*
|--------------------------------------------------------------------------
| Tools
|--------------------------------------------------------------------------
| @namespace: hd-
|
*/
.hd-Tools_Items {
  display: flex;
}

.hd-Tools_Item {
  margin-right: 40px;
}

.hd-Tools_Item-cart {
  margin-right: 0;
}

.hd-Tools_Link {
  position: relative;

  display: block;

  cursor: pointer;
}

.hd-Tools_Icon {
  display: block;
  width: 24px;
  height: 24px;

  svg {
    width: 24px;
    height: 24px;
  }
}

.hd-Tools_Count {
  position: absolute;
  top: 5px;
  left: -18px;

  display: block;

  font-size: 16px;
  line-height: 18px;
}
