/*
|--------------------------------------------------------------------------
| Drawers - Container
|--------------------------------------------------------------------------
| @namespace: Drawers
|
*/

.Drawers {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-drawers;
    display: block;
    opacity: 0;
    transition: opacity $transition;
    pointer-events: none;
    will-change: opacity;

    &.Drawers--active {
        opacity: 1;
        pointer-events: auto;
    }
}

.Drawers__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    @include Hover() {
        cursor: e-resize;
    }
}
