/*
|--------------------------------------------------------------------------
| Drawers - A single drawer
|--------------------------------------------------------------------------
| @namespace: Drawer
|
*/

.Drawer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $z-drawer;
    width: 100%;
    max-width: 28rem;
    margin-left: 1rem;
    overflow-y: auto;
    background-color: $color-white;
    -webkit-overflow-scrolling: touch;
    transform: translateX(100%);
    transition: transform $transition;
    will-change: transform;

    &.Drawer--active {
        transform: translateX(0);
    }
}

.Drawer__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-bottom: 1px solid $color-border;
}

.Drawer__title {
    @include Font__24-24;
    font-weight: $font-medium;
}

.Drawer__close {
    position: relative;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.Drawer__close:hover {
    opacity: 1;
}

.Drawer__close:before, .Drawer__close:after {
    position: absolute;
    top: 0;
    left: 15px;
    width: 2px;
    height: 33px;
    background-color: #333;
    content: ' ';
}

.Drawer__close:before {
    transform: rotate(45deg);
}

.Drawer__close:after {
    transform: rotate(-45deg);
}
  
.Drawer__closetext {
    @include UtilityScreenReaderOnly;
}

.Drawer__body {
    padding: 0 1.5rem;
}

.Drawer__footer {
    padding: 0 1.5rem 1.5rem;
}
