/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
| @namespace: meg-
|
*/
.meg-Navigation {
  position: relative;
  z-index: 2;

  grid-column: 2 / span 10;

  align-items: flex-end;
  justify-content: center;

  display: flex;
  min-height: 166px;
}

.meg-Navigation_Items {
  justify-content: center;

  display: flex;
}

.meg-Navigation_Item {
  margin-left: 10px;
  margin-right: 10px;
}

.meg-Navigation_Link {
  position: relative;

  display: block;
  padding: 5px 45px;

  font-family: $founders-grotesk-light;
  font-size: 24px;
  line-height: 24px;

  background-color: $color-white;
  border-radius: 0 0 20px 20px;

  transition: background-color 0.2s;
}

.meg-Navigation_Link-active {
  font-family: $founders-grotesk-medium;
}
