/*
|--------------------------------------------------------------------------
| Section - Columns
|--------------------------------------------------------------------------
| @namespace: Section__columns
|
*/

.Section__columns {
    @include PageGrid;
}

.Section__column {
    grid-column: 1 / -1;
    @include bp(sm) {
        grid-column: 2 / span 10;
    }
    @include bp(lg) {
        grid-column: 3 / span 8;
    }
    @include bp(xxlg) {
        grid-column: 3 / span 8;
    } 
}

.Section__column--medium {
    grid-column: 1 / -1;
    @include bp(sm) {
        grid-column: 2 / span 10;
    }
    @include bp(lg) {
        grid-column: 3 / span 8;
    }
    @include bp(xxlg) {
        grid-column: 3 / span 8;
    }
}

.Section__column--tight {
    grid-column: 1 / -1;
    @include bp(sm) {
        grid-column: 2 / span 10;
    }
    @include bp(md) {
        grid-column: 4 / span 6;
    }
}
