/*
|--------------------------------------------------------------------------
| Notification - Bar
|--------------------------------------------------------------------------
| @namespace: NotificationBar
|
*/

.NotificationBar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $z-notification-bar;
    height: $notification-bar-height-small;
    color: $color-white;
    text-align: center;
    background-color: $color-primary;
    transition: transform $transition-medium, top $transition-medium;
    @include bp(sm) {
        height: $notification-bar-height-large;
    }

    .UtilityHeader--unpinned & {
        transform: translate3d(0, -100%, 0);
    }
}

.NotificationBar__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.NotificationBar__body {
    width: 100%;
}

.NotificationBar__text {
    font-weight: $font-medium;
    letter-spacing: 0.25em;
    @include Font__10-24;
}
